---
import Column from "../../layouts/Column.astro";
import interiorImg from "../../assets/renders/interior.jpg";
import Blur from "../global/Blur.astro";
import Map from "./Map.astro";
import {contactData} from "../../data/contactData.js"

const {rawMovil, movil} = contactData.telefonos;
const {direccion: email} = contactData.correo;
const {url} = contactData.sitioWeb;
---

<section class="" id="contacto">
  <figure class="relative">
    <Blur />
    <img
      class="min-h-[300px] object-center object-cover"
      src={interiorImg.src}
      alt="Imagen del interior del departamento duplex en doble altura del proyecto Paroissien 4646"
    />
  </figure>
  <!-- <div class="mt-4 mx-4 bg-stone-700"> -->
  <div class="bg-stone-700">
    <Column>
      <div class="py-20 md:py-[150px] font-thin text-white text-4xl lg:text-6xl">
        <h2 class="uppercase pb-10">Es tu momento de invertir.<br /> Contactate.</h2>
        <div class="grid md:grid-cols-2 gap-4 items-center md:h-[250px]">
          <address class="grid grid-cols-1 gap-4 lg:gap-6 not-italic font-thin text-3xl md:text-4xl lg:text-5xl">
            <a class="hover:underline decoration-from-font" href=`mailto:${email}`>{email}</a>
            <a class="font-poppins hover:underline decoration-from-font pb-2 lg:pb-4" href={`tel:+${rawMovil}`}>{movil}</a>
            <h3 class="uppercase text-xl lg:text-2xl">Paroissien <span class="font-poppins">4646</span>, Saavedra, CABA.</h2>
          </address>
          <Map />
        </div>
      </div>
    </Column>
  </div>
</section>
